.form {
	max-width: 446px;
	padding: 18px 30px;
	/* background: #cfd0d2; */
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	margin: 35px auto;
}

.form__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	margin: 0px 0px 19px 0px;
}

.form__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	margin: 0px 0px 12px 0px;
}

.form__info {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	margin: 0px 0px 12px 0px;
}

.form__country-select {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #A2A6B0;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0px 0px 0px 17px;
}

.form__input-block {
	height: 88px;
}

.input-block {
	margin: 0px 0px 5px 0px;
}

.input-block__label {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.10;
	display: flex;
	align-items: center;
	color: #000000;
}

.input-block__input {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	padding: 0px 0px 0px 17px;
}

.form__rate {}

.rate {}

.form__input-block {}

.input-block {}

.input-block__label {}

.rate__radio {}

.rate__label {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	color: #000000;
}

.form__discount-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
}

.form__input-block {}

.input-block {}

.input-block__label {}

.input-block__input {}

.form__discount-button {
	width: 100%;
	height: 50px;
	margin: 19px 0px 0px 0px;
	display: block;
	border: 2px solid #0156FF;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #0156FF;
	transition: all 0.2s ease;
}

.form__discount-button:hover {
	background-color: #0156FF;
	color: whitesmoke;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25),
		0 8px 8px rgba(0, 0, 0, 0.22);
}



/* customer login section */
.customer-login {
	margin: 35px;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	margin: 0px auto;
}

.customer-login__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	color: #000000;
	margin: 0px 0px 21px 0px;
}

.customer-login__body {
	display: flex;
	flex: 1 1 564px;
	padding: 0px 0px 0px 165px;

}

.customer-login__registered {
	padding: 37px 55px;
	margin: 0px 34px 0px 0px;
}

.customer-login__subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	margin: 0px 0px 20px 0px;
}

.customer-login__description {
	font-weight: 300;
	font-size: 14px;
	line-height: 2.14;
	color: #000000;
	margin: 0px 0px 25px 0px;

}

.customer-login__footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.customer-login__button {
	background: #0156FF;
	border-radius: 50px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	padding: 0px 45px 0px 45px;
	color: #FFFFFF;
	transition: all 0.3s ease-in-out;
	margin: 0px 15px 0px 0px;
}

.customer-login__button:hover {
	background-color: #3271ef;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25),
		0 8px 8px rgba(0, 0, 0, 0.22);
}

.customer-login__forgot-psw {
	/* display: inline-block; */
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	color: #0156FF;
	/* align-self: start; */
}

.customer-login__new {
	padding: 37px 58px;

}

.customer-login__list {
	padding: 0px 0px 0px 15px;
	line-height: 2;
	margin: 0px 0px 36px 0px;
}

.customer-login__list-item {
	list-style-type: disc;
}